.wrapper {
    margin: auto;
}

table.game {
    border: 1px solid black;
    margin: auto;
}
td {
    height: 20px;
    width: 20px;
}

td.alive {
    background: black;
}

td.hover {
    background: yellow;
}

td.hover.alive {
    background: #cc0;
}

