.wrapper {
    position: relative;
    top: 50px;
    margin: auto;
    width: 900px;
}

.controls {
    float: right;
}

table.board {
    float: left;
    border: 1px solid black;
    border-spacing: 0;
    -moz-box-shadow: 10px 5px 5px #444;
    -webkit-box-shadow: 10px 5px 5px #444;
    box-shadow: 10px 5px 5px #444;
}

td {
    height: 20px;
    width: 20px;
    border: 0;
    padding: 0;
    margin: 0;
}

td.alive {
    background: black;
}

td.hover {
    background: yellow;
}

td.hover.alive {
    background: #cc0;
}

